div{
    
    background-color: white;
    border-radius:10px;
    width: 250px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    align-items: center;
    font-size: 15px;
}
body{
    background-color: hsl(217, 42.70%, 66.50%);
}
img{
    width: 200px;;
}
.nav-bar{
    background: #333;
    color: white;
    padding: 10px;
}
.nav-bar label {
    font-size: 24px;
    cursor: pointer;
    display: block;
}
.custom {
    list-style: none;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background: #444;
}
.custom li {
    padding: 10px;
    border-bottom: 1px solid #555;
}
#toggle-menu:checked ~ .custom {
    max-height: 200px;
}
#toggle-menu {
    display: none;
}